.custom {
  font-family: 'Fredoka One', cursive;
  background-color: #2785DD;
  margin: 0;
  padding: 0; }

nav {
  width: 100%;
  background: #222222;
  margin-top: 0; }
  nav ul {
    height: inherit;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: inherit;
    padding-left: 0;
    margin-top: 0; }
  nav li {
    display: inline-block;
    list-style: none;
    width: 18%;
    text-align: center;
    font-size: 2rem;
    margin-top: 1em; }
  nav a {
    text-decoration: none;
    color: #BBCDE5;
    width: 75%;
    transition: color 0.5s ease; }
    nav a:hover {
      text-decoration: none;
      color: #639FAB; }
  nav .logo #one {
    margin-left: 6em; }
  nav .logo #two {
    margin-right: 0;
    margin-top: 0.4em; }

@media (max-width: 700px) {
  nav li {
    width: 25%; }

  .logo {
    display: none; } }
@media (max-width: 405px) {
  nav ul {
    margin: inherit 0; }
  nav li {
    font-size: 1.5rem;
    width: 33%; } }


