.custom {
  font-family: 'Fredoka One', cursive;
  background-color: #2785DD;
  margin: 0;
  padding: 0; }

nav {
  width: 100%;
  background: #222222;
  margin-top: 0;
  position: fixed; }
  nav ul {
    height: inherit;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: inherit;
    padding-left: 0;
    margin-top: 0; }
  nav li {
    display: inline-block;
    list-style: none;
    width: 18%;
    text-align: center;
    font-size: 2rem;
    margin-top: 1em; }
  nav a {
    text-decoration: none;
    color: #BBCDE5;
    width: 75%;
    transition: color 0.5s ease; }
    nav a:hover {
      text-decoration: none;
      color: #639FAB; }
  nav .logo #one {
    margin-left: 6em; }
  nav .logo #two {
    margin-right: 0;
    margin-top: 0.4em; }

main {
  background: #2785DD;
  width: 100%;
  max-height: 60em;
  min-height: 40em; }
  main #me {
    width: 45%;
    height: 80%;
    display: inline-block; }
    main #me img {
      width: 90%;
      height: 90%;
      margin-left: 10%;
      margin-top: 5em; }
  main #about {
    font-family: 'Bad Script', cursive;
    margin-top: 2em;
    width: 45%;
    height: 80%;
    display: inline-block;
    padding: 1em;
    text-align: center; }
    main #about h1 {
      margin-top: 2em;
      font-size: 4em; }
    main #about p {
      font-size: 1.5em;
      padding: 1em 3em; }

#skills {
  width: 100%;
  background: #222222;
  color: #BBCDE5;
  text-align: center; }
  #skills ul {
    width: inherit;
    padding-left: 0; }
    #skills ul li {
      list-style: none; }
  #skills h1 {
    width: inherit; }

@media (max-width: 700px) {
  nav li {
    width: 25%; }

  .logo {
    display: none; }

  #me img {
    margin-bottom: 10em; } }
@media (max-width: 405px) {
  nav li {
    font-size: 1.5rem;
    padding: 0.5em;
    width: 33%; } }


