//variables

$black: #000000;
$creulean: #1D79B7;
$grey: #597081;
$gunmetal: #36494E;
$cloud: #A9CEF4;

body {
  background: $gunmetal;
}

nav {
  width: 100%;
  box-shadow: 0px 5px 5px black;
  opacity: 0.7;
  position: fixed;
  z-index: 2;
  top: 0;
  li {
    list-style: none;
    float: right;
    padding: 1.2em;
    &:hover {
      background: $grey;
      transition: 0.5s;
      box-shadow: 5px 3px 5px black;
    }
  }
  a {
    text-decoration: none;
    color: white;
    opacity: 1;
    font-family: 'Acme', sans-serif;
  }
}

main {
  height: 20em;
  width: 100%;
  margin-top: 8em;
  #left {
    display: inline-block;
    width: 20%;
  }
  img {
    height: 13em;
    width: 8em;
    display: block;
    margin: 0.2em 0;
    border: 1px solid $black;
  }
  #right {
    float: right;
    margin: 6em 4em;
  }
  aside {
    width: 100%;
  }
  #self {
    width: 100%;
    text-align: right;
  }
  h1 {
    font-size: 3rem;
    font-family: 'Lobster Two', cursive;
  }
  h3 {
    font-family: 'Acme', sans-serif;
  }
}
