//variables

$charcoal: #222222;
$white: #FFFFFF;
$blue: #2785DD;
$aquaish: #639FAB;
$lilac: #BBCDE5;

.custom {
  font-family: 'Fredoka One', cursive;
  background-color: $blue;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background: $charcoal;
  margin-top: 0;
  ul {
    height: inherit;
    display: flex;
    width: inherit;
    padding-left: 0;
    margin-top: 0;
  }
  li {
    display: inline-block;
    list-style: none;
    width: 18%;
    text-align: center;
    font-size: 2rem;
    margin-top: 1em;
  }
  a {
    text-decoration: none;
    color: $lilac;
    width: 75%;
    transition: color 0.5s ease;
    &:hover {
      text-decoration: none;
      color: $aquaish;
    }
  }
  .logo {
    a {
    }
    #one {
      margin-left: 6em;
    }
    #two {
      margin-right: 0;
      margin-top: 0.4em;
    }
  }
}

@media (max-width: 700px) {
  nav {
    ul {
    }
    li {
      width: 25%;
    }
  }
  .logo {
    display: none;
  }
}

@media (max-width: 405px) {
  nav {
    ul {
      margin: inherit 0;
    }
    li {
      font-size: 1.5rem;
      width: 33%;
    }
  }
}
