.square {
  display: inline-block;
  border: 1px solid black;
  height: 5em;
  width: 13.6%;
  margin: auto;
}
.button {
  display: inline-block;
  border: 1px solid black;
  height: 3em;
  width: 13.6%;
  margin-bottom: 4em;
  border-radius: 50%
}
#board {
  border: 1px solid black;
  width: 70%;
  height: 40em;
  overflow: hidden;
  padding: 6em 0 0 1em;
}
