//variables

$black: #000000;
$creulean: #1D79B7;
$grey: #597081;
$gunmetal: #36494E;
$cloud: #A9CEF4;

body {
  background: $gunmetal;
}

nav {
  width: 100%;
  box-shadow: 0px 5px 5px black;
  opacity: 0.3;
  position: fixed;
  z-index: 2;
  top: 0;
  li {
    list-style: none;
    float: right;
    padding: 1.2em;
    &:hover {
      background: $grey;
      transition: 0.5s;
      box-shadow: 5px 3px 5px black;
    }
  }
  a {
    text-decoration: none;
    color: white;
    opacity: 1;
  }
}

main {
  height: 20em;
  width: 100%;
  #left {
    display: inline-block;
    width: 50%;
    margin-top: 4.5em;
  }
  img {
    height: 20em;
    width: 15em;
    display: block;
    margin: 0.2em 0;
    border: 1px solid $black;
  }
}
